/target
/classes
/checkouts
*.jar
*.class
/.calva/output-window/
/.cpcache
/.lein-*
/.lsp/sqlite*.db
/.nrepl-history
/.nrepl-port
/.rebel_readline_history
/.socket-repl-port
.hgignore
.hg/
/*.mov
/*.mp4
/*.gif
/*.avi
/*.m4v
/*.mkv
/*.mk4
/*.mpg
/*.mpeg
/*.webp
/*.webm
/*.wmv
/*.mp3
/*.flv
/*.swf
/*.ogg
/*.flac
/*.aac
/tmp
/.clerk
/docs
hs_err_pid*.log